.ContenedorP2{
    height: 100% !important; 
    border: 3px solid var(--vino);
    margin: 0;
    background-image: url(../../images/textura.jpg);
    background-repeat: no-repeat;
    background-size: cover;}

.ContenedorP2Titulo{
    color: var(--vino);
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    margin: 4rem 0  0;
    text-align: center;
}
.ContenedorP2Img1{
    overflow: visible !important;
}

.ContenedorP2Img1 img{
    height: 80% !important;
    width: 80% !important;
    display:block;
    margin:auto;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.ContenedorP2Text1{
    padding: 0 7rem;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}