.footer{
    background-color: var(--vino);
    text-align: center;
    height: 5rem;
    margin-top: 1rem;
    margin-right: 0!important;
    margin-left: 0!important;
}

.footer h1{
    padding: 1rem 0;
    color: var(--blanco);
}